@use '../base/variables' as v;

header{
    background: v.$secondary;
    margin: -2px;
}
.header{
    display: flex;
    justify-content:space-between;
    color: v.$blanco;
}

.logo{
    font-size:35px;
    font-weight: bolder;
    padding: 0.5rem;
}
.logo-img{
    width: 20%;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;

    ul{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
        li{
            margin-left:2rem;
            a{
                
                text-transform:uppercase;
                font-weight:bold;
                color: v.$blanco;
                text-decoration: none;
                letter-spacing:2px;
                
            }
        }
    }
}