@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
$poppins: system-ui;
$background:rgb(255, 255, 255);
$primary: #ADC9CA;
$secondary: #03778D;
$azulGris:#ADC9CA;
$rosa:#e6c7b9;
$blanco:#eeeeee;
$negro:#111;
$dots:#30cad0;